@font-face {
    font-family: lemonMilk;
    src: url(../fonts/LemonMilk.otf);
}

@font-face{
    font-family: plain;
    src: url(../fonts/Aileron-Thin.ttf);
}

img{
    height: 48px;
    margin: 5px;
}

html {
	font-family: plain !important;
}

h2{
    font-family: lemonMilk !important;
    font-size: 2em !important;
}

hr{
    
    border: 0 !important;
    height: 1px !important;
    background-image: linear-gradient(to right, rgba(234, 234, 234, 0), rgba(234, 234, 234, .5), rgba(234, 234, 234, 0)) !important;
}

body{
    background-color: #373737 !important;
    color: #EAEAEA !important;
}

#title {
	display: block;
	font-size: 3em;
	color: #eaeaea;
	text-align: center;
    font-family: lemonMilk;
    letter-spacing: 1px;
}

#content {
	width: 100%;
	padding: 40px;
    padding-top: 10px;
	height: 40em;
	float: left;
	margin:0px auto;
	text-align: center;
}

#analog {
	height: auto;
	float: left;
	padding: 0 4em;
}

.analogclass {
	display: block;
	height: auto;
	margin: 0 auto;
}

.waterclass {
	display: block;
	height: auto;
	margin: 0 auto;
    border-right: 2px solid #eaeaea;
    border-left: 2px solid #eaeaea;
    font-family: lemonMilk;
}

#waterbottom{
    border-bottom: 2px solid #eaeaea;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    padding-bottom: 7px;
/*    background-color: #1398be;*/
}

#watercritical{
    border-bottom: 2px dashed #ff3111;
/*    background-color: #b5e9f8;*/
    color: #ff3111;
}

/*
#twenty{
    background-color: #34b0d3;
}

#thirty{
    background-color: #57c4e2;
}

#forty{
    background-color: #80d5ee;
}
*/

#twenty, #thirty, #forty{
    border-bottom: 2px dashed rgb(234,234,234,0.2);
}

#parking{
    border: 1px solid rgb(234,234,234,0.6);;
    border-radius: 2px;
    padding: 5px 20px 20px 18px;
    margin: -20px;
}

.analogsensor {
	height: 80px;
	width: auto;
	margin-top: 20px;
	margin-left: 20px;
}

.analogvalue {
	font-size: 26px;
	float: right;
	margin-top: 44px;
	margin-right: 40px;
}


@media screen and (max-width: 430px) {
	
	#analog {
		padding: 0 ;
	}
	
}
@media screen and (max-width: 360px) {
	
	#content {
		padding: 0px;
	}
	#analog {
		padding: 10px ;
	}
	

}
