img{
    height: 64px;
}

html {
	font-family: sans-serif;
}

body{
    background-color: #f0f0f0;
}

#title {
	display: block;
	margin-top: 20px;
	font-size: 35px;
	color: black;
	font-weight: bold;
	text-align: center;
}

#content {
	width: 100%;
	padding: 40px;
	height: 40em;
	float: left;
	margin:0px auto;
	text-align: center;
}

#analog {
	height: auto;
	float: left;
	//background-color: green;
	padding: 0 4em;
}

.analogclass {
	display: block;
	border: 1px solid #ccc;
	border-radius: 3px;
	height: 120px;
	margin: 0 auto;
}

.analogsensor {
	height: 80px;
	width: auto;
	margin-top: 20px;
	margin-left: 20px;
}

.analogvalue {
	font-size: 26px;
	float: right;
	margin-top: 44px;
	margin-right: 40px;
}


@media screen and (max-width: 430px) {
	
	#analog {
		padding: 0 ;
	}
	
}
@media screen and (max-width: 360px) {
	
	#content {
		padding: 0px;
	}
	#analog {
		padding: 10px ;
	}
	

}
